@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>A very simple system</p>
<p>Used for generating configuration for V2Ray service, and control the access of internet.</p>
<p><b>Only Compatable with Linux!!</b></p>
<p>This can be used to control the network access of a local network.</p>
<p>Usefull when you're shareing wifi network with others.</p>
<p>All people who knows the WLAN PSK will be able to connect to WLAN, this project can be use to limmit the network access by using vmess proxy.</p>
<p>This way, you'll be able to control access user-by-user</p>
<p></p>
<p>
    Written by <a href="https://github.com/ling-yumeng">Ling yumeng (Ff_c109)</a>. Sources avaliable under AGPL-3 on ssh://git@github.com:ling-yumeng/VMess_Access_Control_UI.git
</p>
